Repository lightspeeddevelopment/lsx, pull requests merged in 2020-06, with the labels that each got.

#367 Fixing the integration with the "disable title"
  changelog.md
  includes/layout.php
Labels: [Type] Bug

#368 Woocommerce styles enhancenments
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/layout/_footer.scss
  assets/css/scss/layout/_nav.scss
  assets/css/woocommerce/maps/woocommerce.css.map
  assets/css/woocommerce/woocommerce-extensions/_variation-swatches.scss
  assets/css/woocommerce/woocommerce.css
  assets/css/woocommerce/woocommerce.scss
  changelog.md
Labels: [Integration] WooCommerce, [Priority] Important, [Type] Enhancement

#371 Blog landing with LSX Search filters and blog customizer improvements.
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/templates/_blog.scss
  changelog.md
Labels: [Component] Blog, [Component] Customizer, [Extension] LSX Search, [Type] Optimization

#372 Gutenberg related updates
  assets/css/admin/gutenberg-admin.css
  assets/css/admin/gutenberg-admin.scss
  assets/css/admin/maps/gutenberg-admin.css.map
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/components/_gutenberg-blocks.scss
  assets/css/scss/layout/_gutenberg-front.scss
  assets/css/woocommerce/maps/woocommerce.css.map
  assets/css/woocommerce/woocommerce.css
  assets/css/woocommerce/woocommerce.scss
  changelog.md
  lib/theme-support.php
Labels: [Component] Block Editor, [Priority] Important, [Type] Enhancement

#374 Add/page title enhancements
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/layout/_gutenberg-front.scss
  package-lock.json
Labels: [Component] Block Editor, [Priority] Normal, [Type] Enhancement

#375 Core block and spacing improvements
  assets/css/admin/gutenberg-admin.css
  assets/css/admin/gutenberg-admin.scss
  assets/css/admin/maps/gutenberg-admin.css.map
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/layout/_gutenberg-front.scss
  changelog.md
Labels: [Component] Block Editor, [Priority] Important, [Type] Enhancement

#376 Added support for the How to and Faq yoast blocks.
  assets/css/yoast/yoast.css
  assets/js/yoast/yoast.js
  changelog.md
  functions.php
  includes/yoast/class-lsx-yoast.php
Labels: [Component] Block Editor, [Integration] Yoast SEO, [Type] Enhancement
