Repository lightspeeddevelopment/lsx, pull requests merged in 2020-07, with the labels that each got.

#381 Fix/377
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/layout/_search-form.scss
  changelog.md
Labels: [Type] Bug, [Type] Enhancement

#386 Fixed the margin issue when some titles are too long
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/templates/_common.scss
  changelog.md
  includes/extras.php
Labels: [Component] Blog, [Priority] Important, [Type] Enhancement

#382 Reducing the left and right Padding on LSX Buttons from 40px to 15px
  assets/css/admin/gutenberg-admin.css
  assets/css/admin/gutenberg-admin.scss
  assets/css/admin/maps/gutenberg-admin.css.map
  assets/css/bb-press/bb-press.css
  assets/css/bb-press/bb-press.scss
  assets/css/bb-press/maps/bb-press.css.map
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/lsx-rtl.css
  assets/css/lsx.css
  assets/css/maps/lsx.css.map
  assets/css/popup-maker/maps/popup-maker.css.map
  assets/css/popup-maker/popup-maker.css
  assets/css/scss/global/mixins/_button.scss
  assets/css/sensei/maps/sensei.css.map
  assets/css/sensei/sensei.css
  assets/css/the-events-calendar/maps/the-events-calendar-5.css.map
  assets/css/the-events-calendar/maps/the-events-calendar.css.map
  assets/css/the-events-calendar/the-events-calendar-5.css
  assets/css/the-events-calendar/the-events-calendar.css
  assets/css/woocommerce/maps/woocommerce.css.map
  assets/css/woocommerce/woocommerce.css
  changelog.md
Labels: [Priority] Normal, [Type] Enhancement

#390 Fix/383 - Theme Check Results
  changelog.md
  header.php
  includes/admin/welcome-screen/component-footer.php
  includes/gutenberg.php
  includes/welcome.php
  includes/woocommerce/woocommerce.php
  partials/content-widget-product.php
  partials/content-widget-review.php
  searchform.php
  sidebar-sitemap.php
  sidebar.php
Labels: [Priority] Minor, [Status] Ready, [Type] Enhancement

#388 Merged two WooCommerce panels within the customizer sidebar.
  assets/css/gutenberg-rtl.css
  assets/css/gutenberg.css
  assets/css/maps/gutenberg.css.map
  assets/css/scss/layout/_gutenberg-front.scss
  assets/css/woocommerce/maps/woocommerce.css.map
  assets/css/woocommerce/woocommerce.css
  assets/css/woocommerce/woocommerce.scss
  changelog.md
  includes/woocommerce/woocommerce.php
Labels: [Integration] WooCommerce, [Type] Enhancement

#392 Fix/380 - Events banners Duplication
  functions.php
  header.php
  includes/classes/class-lsx-rest-helper.php
  includes/extras.php
  includes/hooks.php
  includes/layout.php
  includes/the-events-calendar/the-events-calendar.php
Labels: [Integration] Events Calendar, [Priority] Critical, [Type] Bug

#389 - Adding lsx-subheading class
  assets/css/admin/customizer-font.css.map
  assets/css/admin/gutenberg-admin.css
  assets/css/admin/gutenberg-admin.css.map
  assets/css/admin/gutenberg-admin.scss
  assets/css/admin/welcome.css.map
  assets/css/bb-press/bb-press.css.map
  assets/css/gutenberg-rtl.css
  assets/css/maps/gutenberg.css.map
  assets/css/maps/lsx.css.map
  assets/css/popup-maker/popup-maker.css.map
  assets/css/scss/components/_typography.scss
  assets/css/scss/global/mixins/_content.scss
  assets/css/scss/layout/_content.scss
  assets/css/scss/layout/_gutenberg-front.scss
  assets/css/sensei/sensei.css.map
  assets/css/the-events-calendar/the-events-calendar-5.css.map
  assets/css/the-events-calendar/the-events-calendar.css.map
  assets/css/vendor/bootstrap.css.map
  assets/css/vendor/font-awesome.css.map
  assets/css/woocommerce/woocommerce.css.map
  build/assets/css/scss/global/mixins/_content.css
  changelog.md
  config.codekit3
Labels: [Priority] Normal, [Type] Content, [Type] Enhancement

#399 Adding styles to make LSX compatible with Yoast SEO's internal linking blocks
  assets/css/yoast/yoast.css
  changelog.md
  functions.php
  lib/theme-support.php
Labels: [Integration] Yoast SEO, [Priority] Normal, [Type] Enhancement

#401 Fixed minor issues on Sensei single lesson images and messages.
  assets/css/sensei/maps/sensei.css.map
  assets/css/sensei/sensei.css
  assets/css/sensei/sensei.scss
  changelog.md
  includes/extras.php
Labels: [Integration] Sensei, [Priority] Minor, [Type] Bug
